<launch>
  <!-- To test the planning, try the goal: (skiros:contain skiros:LargeBox-80 skiros:Starter-145) -->
  <arg name="deploy" default="false" />
  <include file="$(find skiros2_examples)/launch/main.launch">
    <arg name="init_scene" value="planning_scene.turtle"/>
    <arg name="deploy" value="$(arg deploy)"/>
    <arg name="primitive_list" default="[]"/>
    <arg name="skill_list" value="[drive_fake, pick_fake, place_fake, task_plan]" />
    <arg name="gui" default="true"/>
  </include>
  <include file="$(find skiros2)/launch/task_mgr.launch">
      <arg name="deploy" value="$(arg deploy)"/>
  </include>
</launch>
